body
{
    color: #faf8f8;
}

.GreetingPanel
{
    color: #faf8f8;
    margin-left: 100px;
    width: 300px;
    width: 50%;
    margin-top: 100px;
    font-size: 20px;
}
h1
{
    font-size: 5vh;
}
.SignInButton
{
    background-color: #dcd3d3;
    border-color: #dcd3d3;
    margin-top: 30px;
    border-radius: 15px;
    width: 130px;
}
.SignInButton:hover
{
    cursor: pointer;
    background-color: #fdbeb8;
    border-color: #fdbeb8;
}