body
{
    color: #faf8f8;
}

.GreetingPanel
{
    color: #faf8f8;
    margin-left: 100px;
    width: 300px;
    width: 50%;
    margin-top: 100px;
    font-size: 20px;
}
h1
{
    font-size: 5vh;
}
.btn
{
    background-image: linear-gradient(to right,  rgb(152, 52, 239) 51%, #DA22FF 100%);
    /* background-color: #ff5353; */
    margin-top: 30px;
    border-radius: 20px;
    width: 130px;
    box-shadow: 0 4px 10px 0 rgba(173, 21, 255, 0.5);
    transition: all .3s ease-in-out;
}
.btn:hover
{
    transform: translateY(-5px);
    background-position: 100% 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.btn-hover:focus {
    outline: none;
}