body
{
    color: #f0ebeb;
}
.firstRow
{
    height: 180px;
}
.myContainer
{
    margin-top: 60px;
}
.selectSensor
{
    font-size: 12px;
    width: 100%;
    height: 40px;
    box-shadow: 5px 10px 8px 0px rgb(0,0,0,0.3);
    border: 1px solid rgb(255,255,255,0.2);
    background-color: transparent;
    color: #ffffff;
}
.selectSensor:focus
{
    background-color: transparent;
    color: #ffffff;
}
.selectSensor:hover
{
    background-color:rgb(15, 15, 15);

}
option
{
    outline: none;
    text-decoration: none;
    background-color: transparent;
}
.quantityAll
{
    max-width: 300px;
    margin-top: 80px;
    background-image: linear-gradient(to right,  rgb(151, 51, 238) 51%, rgb(218, 34, 255) 100%);
    border-radius: 2px;
    box-shadow: 2px 4px 10px 1px rgba(173, 21, 255, 0.5);
    height: 110px;
    width: 100%;
    min-width: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}
.currentTemperature
{
    margin-top: 30px;
    background-image: linear-gradient(to right, rgb(248, 54, 0) 51%, rgb(254, 140, 0) 100%);
    border-radius: 2px;
    box-shadow: 2px 4px 10px 1px rgba(255, 105, 18, 0.5);
    height: 70%;
    min-height: 100px;
    width: 100%;
    min-width: 110px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
}
.currentHumidity
{
    margin-top:30px;
    background-image: linear-gradient(to right, rgb(4, 93, 233) 0%, rgb(45, 118, 245) 74%);
    border-radius: 2px;
    box-shadow: 2px 4px 10px 1px rgba(29, 116, 255, 0.5);
    height: 70%;
    min-height: 100px;
    width: 100%;
    min-width: 110px;
    max-width: 200px;
    margin-left: 20px;
    text-align: center;
    padding-top: 30px;
}
.sourceSensor
{
    height: 110px;
    width: 100%;
    min-width: 80px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 40px;
    font-size: 15px
}
.mainPanel
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    width: 80%;
    margin-top: 100px;
    font-size: 20px;

}
.temperatureOnlyPanel
{
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,  rgb(151, 51, 238) 51%, rgb(218, 34, 255) 100%);
    padding-top: 30px;
    text-align: center;
    margin-top: 100px;
    border-radius: 2px;
    box-shadow: 2px 4px 10px 1px rgba(173, 21, 255, 0.5);
    /* min-width: 400px; */
    height: 120px;
    min-width: 140px;
    width: 100%;
    color: rgb(255, 255, 255);
}
.measurementPanel
{
    background-color:transparent;
    border-radius: 1px;
    box-shadow: 8px 10px 15px 2px rgb(0,0,0,0.3);
    /* min-width: 400px; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
h1
{
    font-size: 5vh;
}
.labelHeader
{
    font-weight: bold;
    font-size: 100%;
}
.labelBody
{
    font-size: 100%;
}
.Login-Button2
{
    margin-bottom: 30px;
    border: none;
    padding-top: 2px;
    background-image: linear-gradient(to right,  rgb(65, 67, 69) 51%, #232526 100%);
    box-shadow: 0 4px 10px 0 rgba(65, 67, 69,0.3);
    width: 100px;
    height: 35px;
    border-radius: 45px;
    font-size: 13px;
    text-align: center;
}

.Login-Button2:hover
{
    transform: translateY(-5px);
    background-position: 100% 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
