.picContainer
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.mapPicture
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    min-width: 360px;
    min-height: 265px;
    height: 65%;
    width: 65%;
}

.btnDeleteS
{

    margin-top: 10px;
    margin-right: 10px;
    border: none;
    padding-top: 2px;
    background-image: linear-gradient(to right,  rgb(65, 67, 69) 51%, #232526 100%);
    box-shadow: 0 4px 10px 0 rgba(65, 67, 69,0.3);
    width: 80px;
    height: 33px;
    border-radius: 45px;
    font-size: 13px;
    text-align: center;
}

.btnDeleteS:hover
{
    transform: translateY(-5px);
    background-position: 100% 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
}